<footer class="pie bg-azul">
    <div class="container">
      <div class="row pie-02 py-2 px-2 align-items-center justify-content-center">
        <div class="footer-text col-12 col-sm-4 d-flex justify-content-sm-end justify-content-center">
          <h6 class="color-blanco text-center">Una producci贸n de Huellas Comunicaci贸n</h6>
        </div>
        <div class="footer-image col-12 col-sm-4 col-md-2 d-flex justify-content-md-start justify-content-center">
          <img src="../images/Logo Huellas Comunicaci贸n Reducido.png" alt="Logo de Huellas Comunicaci贸n ">
        </div>
      </div>
    </div>
  </footer>