<!DOCTYPE html>
<html lang="es">
  <head> 
  <%- include('./partials/meta') %>
  </head>
  <body>
  <%- include('./partials/header') %>
  <section class="nosotros">
    <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="imageNosotros col-12 col-md-6 justify-content-center">
            <img src="./images/Logo Huellas Comunicación Reducido.png" alt="Logo Huellas Comunicación">
          </div>
          <div class="infoNosotros col-12 col-md-6 text-md-start text-center">
            <h2 class="color-mandarina">Nosotros</h2>
            <p class="color-azul">
            Fundamos Huellas Comunicación y Experiencia Museos de Salta en el año 2017. Somos una organización familiar inspirada en el amor por la cultura de nuestra tierra y por las innovaciones tecnologías y comunicacionales que permiten mostrar nuestra riqueza cultural y patrimonial a todo el mundo. Estamos convencidos de que hay mucho más por hacer y es por eso que cada día buscamos nuevos desafíos. <br>
            Experiencia Salta es una plataforma para los amantes de la cultura y los viajes. Te permite VIAJAR ANTES DE VIAJAR, y conocer toda la provincia de Salta y sus alrededores, para que cuando estés aqu, tu viaje realmente valga la pena. Día a día sumamos experiencias para todos los usuarios. <br>
            Si tenés una experiencia por mostrar y ofrecer, vos también podés estar en nuestra plataforma.
            </p>
          </div>
        </div>
     </div>
  </section>
  
  <%- include('./partials/footer') %>
  </body>
</html>
