<!DOCTYPE html>
<html lang="es">
  <head> 
  <%- include('./partials/meta') %>
  </head>
  <body>
  <%- include('./partials/header') %>

  <h1>Página en construcción</h1>
  
  
  <%- include('./partials/footer') %>
  </body>
</html>
